[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datashare-network-core = {editable = true, ref = "bbdb28d3cf6774b6db30ed3d7c0cb9f14681389c", git = "https://github.com/ICIJ/datashare-network-core.git"}
aiohttp = "==3.8.1"
click = "==8.0.4"
aioconsole = "==0.4.1"
elasticsearch = '==7.9.1'
Authlib = "==1.0.0"
httpx = "*"
sscred = '==0.2.1'

[dev-packages]
pytest-httpserver = "==1.0.4"
alembic = "==1.7.7"
datashare-network-server = {editable = true, ref = "14339b5da72c86c25089802697ca709f1fe841dd", git = "https://github.com/ICIJ/datashare-network-server.git"}
uvicorn = {extras = ["standard"], version = "==0.15.0"}
pytest = "==7.1.0"
pytest-asyncio = "==0.18.2"
async-solipsism = "*"
pytest-timeout = "==2.1.0"
bumpversion = "==0.6.0"
setuptools-pipfile = "==0.4.1"
twine = "==3.2.0"
fastapi = {extras = ["all"], version = "==0.75.0"}
fastapi-sessions = "==0.3.2"
datashare-network-tokenserver= "==0.1.2"

[requires]
python_version = "3"
