[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datashare-network-core = '*'
aiohttp = '*'

[dev-packages]
alembic = "*"
datashare-network-server = {path = "./../datashare-network-server/dist/datashare-network-server-0.1.0.tar.gz"}
uvicorn = {extras = ["standard"], version = "*"}
pytest = '*'
pytest-asyncio = '*'
bumpversion = "==0.6.0"
setuptools-pipfile = "==0.4.1"
twine = "==3.2.0"

[requires]
python_version = "3"
