[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datashare-network-core = '*'

[dev-packages]
bumpversion = "==0.6.0"
setuptools-pipfile = "==0.4.1"
twine = "==3.2.0"

[requires]
python_version = "3"
